@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL&family=Poppins&family=Varela+Round&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* User made classes */
.dai{
  font-family: 'Dai Banna SIL', serif;
}
.varela{
  font-family: 'Varela Round', sans-serif;
}
.hover-effect{
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.hover-effect:hover {
  transform: scale(1.1);
}
.glass-box {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: white;
  padding: 3rem;
  margin: 50px auto;
}
